
body {
  margin: 0;
}

.main-div {
  background-color: lavender;
  position: relative;
  top: 50px;
  left: 50px;
  height: 450px;
}

.top-div {
  background-color: red;
  height: 200px;
  width: 200px;
  position: relative;
  left: 50px;
  top: 50px;
}

.middle-div {
  background-color: yellow;
  height: 200px;
  width: 200px;
  position: relative;
  left: 300px;
}

.bottom-div {
  background-color: green;
  height: 200px;
  width: 200px;
  position: relative;
  left: 550px;
  bottom: 350px;
}
